@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .clip_path {
    clip-path: polygon(29% 0, 100% 27%, 72% 100%, 0 100%);
  }
  .writting_mode_rl {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
  }
  .writting_mode_tb {
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
  }
}
