@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .clip_path {
    clip-path: polygon(29% 0, 100% 27%, 72% 100%, 0 100%);
  }

  .writting_mode_rl {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
  }

  .writting_mode_tb {
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
  }

  .active {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
  }

  .unactive {
    opacity: 0;
    visibility: hidden;
    transform: translateX(-40px);
    -webkit-transform: translateX(-40px);
    -moz-transform: translateX(-40px);
    -ms-transform: translateX(-40px);
    -o-transform: translateX(-40px);
  }

  .boxImage {
    /* width: 450px; */
    flex-shrink: 0;
  }

  /* project area */
  .proj_box {
    margin-bottom: 2.5rem;
    padding: 1.5rem 1rem;
  }

  .proj_box .proj_title {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 2.2rem;
    text-transform: capitalize;
    color: #fff;
    margin-bottom: 1.8rem;
  }

  .proj_box .demo {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.3);
    /* cursor: pointer;
    cursor: -moz-pointer;
    cursor: -webkit-pointer; */
  }

  .proj_box .demo .img_box {
    width: 100%;
    height: 48vh;
    overflow-y: auto;
    border-right-width: 0px;
    background: #fff;
  }

  .proj_box .demo .img_box::-webkit-scrollbar {
    width: 6px;
  }

  .proj_box .demo .img_box::-webkit-scrollbar-track {
    background: #131314;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .proj_box .demo .img_box::-webkit-scrollbar-thumb {
    background: #FFD369;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  }

  .proj_box .demo .img_box img {
    width: 100%;
  }

  .image_white {
    filter: invert(100%) sepia(100%) saturate(8%) hue-rotate(182deg) brightness(104%) contrast(104%);
  }
}

.react-tabs__tab-list {
  border-bottom: none !important;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: bold;
  gap: 10px;
}

.react-tabs__tab-list .react-tabs__tab {
  padding: 10px 20px;
  background-color: #fff;
  color: #131314;
}

.react-tabs__tab-list .react-tabs__tab:hover span {
  border-bottom: 3px solid rgb(38 38 38);
}

.react-tabs__tab.react-tabs__tab--selected {
  border: none;
}

.react-tabs__tab.react-tabs__tab--selected::after {
  display: none;
}